body {
    font-family: 'Homemade Apple', Cursive, Courier; /* Calligraffitti, cursive; */
}

p {
    width:80%; 
    text-align:center; 
    margin: 0 auto;
}

.input {
    font-family: Cursive, sans-serif;
    font-weight: bold;
    color: red;
}