<!doctype html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
    
  <link rel="stylesheet" href="../static/madlibs.css">
  <title>Madlib Game</title>
</head>
<body>
    <!-- Hi {{ person }}! I think you're {{ compliment }}!
    a person, a color, a noun, an adj -->
    <p>Pick your words of choice. Choose wisely; words are powah!</p>
    <form action = "/madlib">
        <input type="text" name="person" value="person">
        <input type="text" name="color" value="color">
        <input type="text" name="noun" value="noun">
        <input type="text" name="adj" value="adjective">
        <input type="submit">
    <form>
</body>
</html>