<!doctype html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
    
  <link rel="stylesheet" href="../static/madlibs.css">
    <title>Jamacan' me cRaZy!!!!</title>
</head>
<body>
    <p>There once was a <span class="input">{{ color }} {{ noun }}</span> sitting in the Hackbright Lab. When <span class="input">{{ person }}</span> went to pick it up, it burst into flames in a totally <span class="input">{{ adj }}</span> way.</p>
</body>
</html>
