<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family='Homemade+Apple'" rel='stylesheet' type='text/css'>
    
   <link rel="stylesheet" href="../static/madlibs.css">
    <title>Jamacan' me cRaZy!!!!</title>
</head>
<body>
    <div id = "game_background_img">
        <p id = "whiteText">There once was a <span class="from_user">{{ color }} {{ noun }}</span> sitting in the Hackbright Lab. When <span class="from_user">{{ person }}</span> went to pick it up, it burst into flames in a totally <span class="from_user">{{ adj }}</span> way.</p>
    </div>
</body>
</html>
